<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Due Date</th>
      <th scope="col">Priority</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let t of getTasks()">
      <th scope="row">{{t.id}}</th>
      <td>{{t.title}}</td>
      <td>{{t.dueDate}}</td>
      <td>{{t.priority}}</td>
      <td>
        <ng-template #editModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Edit Task</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-task-details [task]="t" ></app-task-details>
          </div>
        </ng-template>


        <button class="btn btn-lg btn-outline-primary" (click)="open(editModal)">Edit</button>
      </td>
      <td>
        <form #postponeTask = "ngForm" (ngSubmit) = "postpone(t)" >
          <div class="input-group">
            <input name="remindAt" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dueDate="ngbDatepicker" [(ngModel)]="t.remindAt" ngModel>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dueDate.toggle()" type="button"></button>
            </div>
            <input type="submit" class="btn btn-primary" value="Postpone">
          </div>
        </form>
      </td>
    </tr>
  </tbody>
</table>
