<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <ng-template #newTaskModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Task</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-task-details [task]="{}" ></app-task-details>
    </div>
  </ng-template>

  <h1>
    Welcome to {{ title }}! <button type="button" class="btn btn-primary" (click)="newTask(newTaskModal)"> New Task	</button>
  </h1>

  <app-task-list></app-task-list>

</div>
