<div class="card">
  <div class="card-header" id="heading-objective-{{objective.uuid}}">
    <h2 class="mb-0">
      <h4 class="collapsed" data-toggle="collapse" [attr.data-target]="'#collapse-objective-'+ objective.uuid" aria-expanded="true" [attr.aria-controls]="'collapse-objective-'+ objective.uuid">
        {{objective.title}} ({{objective.due_date.toJSON().slice(0,4)}}) - {{(objective.completion*100).toFixed(2)}}%
      </h4>
    </h2>
  </div>
  <div id="collapse-objective-{{objective.uuid}}" class="collapse" [attr.aria-labelledby]="'heading-objective-'+ objective.uuid" data-parent="#objectives">
    <div class="card-body">
      <canvas #objectiveChart></canvas>
      <h4>Key Results</h4>
      <div class="accordion" id="results">
        <div *ngFor = "let r of objective.results | keyvalue">
          <app-result [result]="r.value"></app-result>
        </div>
      </div>
      <h4>Efforts</h4>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Result</th>
            <th scope="col">Modifier</th>
            <th scope="col">Comment</th>
            <th scope="col" width="128pt"><img src="assets/noun_Time_2896455.svg"/></th>
            <th scope="col" width="128pt"><img src="assets/noun_Money_1687804.svg"/></th>
            <th scope="col" width="128pt"><img src="assets/noun_Mental Health_1061782.svg"/></th>
            <th scope="col" width="128pt"><img src="assets/noun_heart beat_1510475.svg"/></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let e of objective.efforts.table">
            <td>{{e.effort.date.toJSON().substring(0,10)}}</td>
            <td>{{e.effort.time}}</td>
            <td>{{e.result.definition}}</td>
            <td>{{e.effort.modifier}}</td>
            <td>{{e.effort.comment}}</td>
            <td>{{e.effort.time_spent}} minutes</td>
            <td>{{e.effort.money_spent}} €</td>
            <td>{{e.effort.thought_spent}} cog load</td>
            <td>{{e.effort.thew_spent}} kcal</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
