<div class="card">
  <div class="card-header" id="heading-objective-{{objective.uuid}}">
    <h2 class="mb-0">
      <h4 class="collapsed" data-toggle="collapse" [attr.data-target]="'#collapse-objective-'+ objective.uuid" aria-expanded="true" [attr.aria-controls]="'collapse-objective-'+ objective.uuid">
        {{objective.title}} ({{objective.due_date.toJSON().slice(0,4)}}) - {{(objective.completion*100).toFixed(2)}}%
      </h4>
    </h2>
  </div>
  <div id="collapse-objective-{{objective.uuid}}" class="collapse" [attr.aria-labelledby]="'heading-objective-'+ objective.uuid" data-parent="#objectives">
    <div class="card-body">
      <table width='100%' cellspacing="10" style="border-collapse:unset">
        <tr>
          <td width="40%">
            <h4>Key Results</h4>
          </td>
          <td>
            <h4>Progress</h4>
          </td>
        </tr>
        <tr>
          <td>
            <div class="accordion" id="results">
              @for (r of objective.results | keyvalue; track r) {
                <div>
                  <app-result [result]="r.value"></app-result>
                </div>
              }
            </div>
          </td>
          <td>
            <canvas #objectiveChart></canvas>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <h4>Efforts</h4>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Result</th>
                  <th scope="col">Modifier</th>
                  <th scope="col">Comment</th>
                  <th scope="col" style="text-align: left"><img width="64pt" src="https://thenounproject.com/api/private/icons/2896455/edit/"/></th>
                  <th scope="col" style="text-align: left"><img width="64pt" src="https://thenounproject.com/api/private/icons/1687804/edit/"/></th>
                  <th scope="col" style="text-align: left"><img width="64pt" src="https://thenounproject.com/api/private/icons/1061782/edit/"/></th>
                  <th scope="col" style="text-align: left"><img width="64pt" src="https://thenounproject.com/api/private/icons/1510475/edit/"/></th>
                </tr>
              </thead>
              <tbody>
                @for (e of objective.efforts.table; track e) {
                  <tr>
                    <td>{{e.effort.date.toJSON().substring(0,10)}}</td>
                    <td>{{e.effort.time}}</td>
                    <td>{{e.result.definition}}</td>
                    <td>{{e.effort.modifier}}</td>
                    <td>{{e.effort.comment}}</td>
                    <td>{{e.effort.time_spent}} minutes</td>
                    <td>{{e.effort.money_spent}} €</td>
                    <td>{{e.effort.thought_spent}} cog load</td>
                    <td>{{e.effort.thew_spent}} kcal</td>
                  </tr>
                }
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
