<ng-container *ngIf = "task.id;then editTaskForm; else newTaskForm">

</ng-container>

<ng-template #editTaskForm>
    <ng-container *ngTemplateOutlet="taskForm;context:{parent:submitUpdate}"></ng-container>
</ng-template>

<ng-template #newTaskForm>
  <ng-container *ngTemplateOutlet="taskForm;context:{parent:submitNew}"></ng-container>
</ng-template>

<ng-template #taskForm  let-parent="parent">
  <form #changedTask = "ngForm" (ngSubmit) = "parent(changedTask.value)" >
  <div class="form-group">
    <label for="title">Title</label>
    <div>
      <input class="form-control" type = "text" name="title" placeholder="Title" [(ngModel)]="task.title" ngModel>
    </div>
    <label for="title">Description</label>
    <div>
      <input class="form-control" type = "textArea" name="description" placeholder="Description" [(ngModel)]="task.description" ngModel>
    </div>
    <label for="dueDate">Due date</label>
    <div class="input-group">
      <input name="dueDate" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dueDate="ngbDatepicker" [(ngModel)]="task.dueDate" ngModel>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="dueDate.toggle()" type="button"></button>
      </div>
    </div>

    <label for="status">Status</label>
    <div>
      <select class="form-control" name="status" [(ngModel)]="task.status" ngModel>
         <option *ngFor="let i of getStatuses()">{{i}}</option>
      </select>
    </div>

    <label for="status">Priority</label>
    <div>
      <select class="form-control" name="priority" [(ngModel)]="task.priority" ngModel>
         <option *ngFor="let i of getPriorities()">{{i}}</option>
      </select>
    </div>
    <div>
      <br/>
      <input type="submit" class="btn btn-primary" value="Save Changes">
    </div>
  </div>
  <ng-container *ngIf = "task.id;then existing"></ng-container>
  <ng-template #existing>
    <label for="title">ID</label>
    <div>
      <input readonly class="form-control-plaintext"  type = "text" name="id" [(ngModel)]="task.id" ngModel>
    </div>

    <label for="title">Created at</label>
    <div>
      <input readonly class="form-control-plaintext"  type = "text" name="createdAt" [(ngModel)]="task.createdAt" ngModel>
    </div>

    <label for="title">Last updated at</label>
    <div>
      <input readonly class="form-control-plaintext"  type = "text" name="updatedAt" [(ngModel)]="task.updatedAt" ngModel>
    </div>

    <ng-container *ngIf = "task.resolvedAt;then done"></ng-container>
    <ng-template #done>
      <label for="title">Resolved at</label>
      <div>
        <input readonly class="form-control-plaintext"  type = "text" name="resolvedAt" [(ngModel)]="task.resolvedAt" ngModel>
      </div>
    </ng-template>
  </ng-template>
  </form>
</ng-template>
